<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
    table,th,tr,td{
            border:1px solid black
        }
    </style>
</head>
<body>
    <h1>Model Manger</h1>
    <table>
        <h3>Student Information</h3>
        <th>ID</th>
        <th>Name</th>
        <th>Roll</th>

        {% for stu in student %}td
        <tr>
            <td>{{stu.id}}</td>
            <td>{{stu.name}}</td>
            <td>{{stu.roll}}</td>
        </tr>
        {% endfor %}
    </table>
 
</body>
</html>