<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>change_password page</title>
    <style>
        .pass{
            color: red;
        }
    </style>
</head>
<body>
    <form action="" method="post" novalidate>
        {% csrf_token %}
        {% if forms.non_field_errors %}
        {% for error in forms.non_field_errors %}
            <p class="pass">{{error}}</p>
        {% endfor %}
    {% endif %}


    {% for fm in forms %}
        {{fm.label_tag}} {{fm}} {{fm.errors|striptags}} <br><br>
    {% endfor %}    
    
    <input type="submit" value="Save">

    </form>
    <button><a href="{% url 'user_profile' %}"> User Profile</a>
    <button><a href="{% url 'user_logout' %}"> Logout</a>

    
</body>
</html>